/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,500;1,600&family=Montserrat:wght@600;700&display=swap");

/* Custom CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
::selection {
  background-color: #c50529;
}
header {
  width: 100%;
  min-height: 120vh;
  background-color: #FA4B37;
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 2.5% 5%;
}
nav img {
  width: 180px;
  height: 36px;
  cursor: pointer;
}
nav ul {
  text-align: right;
  flex: 1;
}
nav ul li {
  display: inline-block;
  padding: 6px 15px;
}
nav ul li a {
  color: white;
  font-size: 16px;
}
nav ul li a:hover {
  color: #c50529;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  transition: 0.6s;
  background-color: #c50529;
}
nav ul li a:hover::after {
  width: 100%;
}
.head {
  text-align: center;
  justify-content: center;
  color: white;
  margin-top: 10%;
}
.head h1 {
  font-size: 86px;
  padding-bottom: 25px;
  line-height: 1.2em;
}
.head p {
  line-height: 1.4;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300 !important;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 3%;
}
button {
  padding: 15px 40px;
  color: white;
  cursor: pointer;
  font-weight: bold !important;
  font-size: 24px;
  border-radius: 5px;
  background: linear-gradient(110deg, #c50529 40%, #833556 60%);
}
#check-btn {
  font-size: 20px;
  color: white;
  float: right;
  flex: 1;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/* Responsive  */
@media (max-width: 858px) {
  #check-btn {
    display: block;
    color: #c50529;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 82vh;
    background-color: #c50529;
    top: 80px;
    left: -100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }
  ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  ul li a {
    color: white;
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* For screens smaller than 480px */
@media (max-width: 636px) {
  .head h1 {
    font-size: 70px;
  }
  .head p {
    font-size: 16px;
    padding-bottom: 5%;
  }
  button {
    padding: 8px 20px;
    font-size: 16px;
  }
}
/*Service Section*/
.service-swipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("images/extra/b3.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.service-swipe .s-card img {
	width: 100px;
}
.service-swipe a {
	padding: 0;
	margin: 40px 10px;
}
.service-swipe .s-card {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
	text-align: center;
	width: 350px;
	height: 200px;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
					0 0 50px rgba(0,0,0,0.8);
	border-radius: 5px;
	cursor: pointer;
	transition-duration: .5s;
}
.service-swipe .s-card p {
	color: #f2f2f2;
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}
.service-swipe .s-card:hover {
	box-shadow: 0 0 50px rgba(255,255,255,0.8);
	transform: translateY(-10px);
}

/*Contact Us Section*/
.csec {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	background-attachment: fixed; 
	position: absolute;
	width: 100%;
	height: 250px;
	top: 200px;
	content: '';
	transform-origin: top right;
	transform: skewY(-10deg);
	z-index: -1;
}
.back-contact {
	margin-top: 0px;
	transform: translateY(-50px);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.cc {
	height: 400px;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	justify-content: center;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
	background: #fff;
}
.cc form {
	margin: 5%;
	margin-top: 40px;
	width: 90%;
	height: 90%;
}
.cc form label {
	position: absolute;
	color: #2E3D49;
	font-size: 10px;
	font-weight: 800;
}
.cc form input {
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	outline: none;
	color: #2E3D49;
	font-weight: 600;
}
.imp {
	color: red;
}
form textarea {
	width: 100%;
	height: 100px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	outline: none;
	color: #2E3D49;
	font-weight: 600;
	padding: 15px;
}
#csubmit {
	margin-top: 20px; 
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border-radius: 5px;
	border-style: none;
	outline: none;
	width: 100%;
	padding: 15px 25px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

/*REVIEW SECTION*/
#makeitfull {
	display: flex;
	justify-content: center;
	transform: translateY(35px);
}
#makeitfull img {
	width: 50px;
}
.review {
	background: #F8F8F8;
	width: 100%;
}
.rev-container {
	padding: 10px 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.rev-container .rev-card {
	/*overflow: hidden;*/
	width: 550px;
	height: 240px;
	margin-bottom: 40px;
	background: #fff;
	display: flex;
	padding: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
.rev-card:hover {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.identity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.identity img {
	width: 120px;
	height: 120px;
	transition-duration: .8s;
	border-radius: 50%;
}
.identity img:hover {
	transform: scale(2.2);
	border-radius: 0px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.identity p {
	width: 150px;
	font-weight: bold;
	color: #2E3D49;
	text-align: center;
}
.identity h6 {
	width: 150px;
	text-align: center;
}
.identity .rating img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.rev-cont {
	overflow: hidden;
}
.rev-cont #title {
	padding: 10px;
	color: #2E3D49;
	font-weight: bold;
}
.rev-cont #content {
	padding: 10px;
	font-size: .9em;
	color: #2E3D49;
	line-height: 22px;
	text-align: justify;
}


/*FEEDBACK*/
.title2 {
	position: relative;
	margin-top: 150px;
	margin-left: 100px;
}
.title2 span{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #2E3D49;
}
.title2 .shortdesc2 {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #2E3D49;
	margin-bottom: 10px;
}
.feedbox {
	margin-top: 50px;
	width: 100%;
	display: flex;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("images/extra/b4.jpg");
	background-size: cover;
	padding: 50px 80px;
	background-attachment: fixed;
}
.feed {
	width: 800px;
	height: 400px;
	position: relative;
	border-radius: 10px;
	justify-content: center;
	box-shadow: inset 0 0 90px rgba(0,0,0,0.6),
					0 0 80px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.4);
}
.feed form {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.feed form label {
	position: absolute;
	color: #f2f2f2;
	font-size: 10px;
	font-weight: 800;
}
.feed form input, .feed textarea {
	padding: 15px;
	border-radius: 5px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	outline: none;
	color: #2E3D49;
	background: #fff9;
	font-weight: 600;
}
.feed form input {
	margin-bottom: 15px;
	width: 50%;
}
.feed form .fname {
	width: 25%;
}
.feed form textarea {
	width: 100%;
	height: 100px;
}
.feed #csubmit {
	margin-top: 25px; 
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border-radius: 5px;
	border-style: none;
	outline: none;
	width: 100%;
	padding: 15px 25px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

/*SCROLLING TEXT*/
.marqu {
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

/*FOOTER*/
footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}
}
